body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  background-color: #f7f5e4;
}

header {
  padding: 10px 0;
  background-color: #00b379;
}

h1 {
  color: #fff;
}

form {
  margin: 10px auto;
}

.locate button {
  padding: 20px;
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin: 0;
}